<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">

            {{ if .Site.Params.logo -}}
                <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }} Logo" style="max-width: 250px">
            {{- end }}

            {{ if .Site.Params.donations -}}
                <p>Consider a small donation to help keep the project running!</p>
                <a href="{{ .Site.Params.donations }}" target="_blank" class="button is-info is-outlined">
                    <span class="icon"><i class="fab fa-paypal"></i></span>
                    <span>Donate</span>
                </a>
            {{- end }}

            <p class="margin-6" style="margin-top: 4rem;">
                Made with ❤️ |
                Design by <a href="https://molotec.com" target="_blank">Molotec</a> |
                <a href="{{ .Site.Params.repository }}edit/master/content/{{ .File.Path }}">Edit this page on Github</a>
            </p>

        </div>
    </div>
</footer>
