<footer class="footer">
    <div class="container has-text-centered">

        <div class="footer-section footer-logo-section margin-2">
            {{ if .Site.Params.logo -}}
                <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }} Logo" style="max-width: 100px">
            {{- end }}
            {{ if .Site.Params.tagline -}}
                <p>
                    {{ .Site.Title }} | {{ .Site.Params.tagline }}
                </p>
            {{- end }}
            {{ if .Site.Params.copyright -}}
                <p>
                    {{ .Site.Params.copyright }}
                </p>
            {{- end }}
        </div>

        {{ if .Site.Params.donations -}}
            <div class="footer-section footer-donations-section">
                <p>Consider a small donation to help keep the project running!</p>
                <a href="{{ .Site.Params.donations }}" target="_blank" class="button is-info is-outlined">
                    <span class="icon"><i class="fab fa-paypal"></i></span>
                    <span>Donate</span>
                </a>
            </div>
        {{- end }}

        <div class="footer-section footer-copyright-section">
            <p>
                {{ i18n "footer_love" }} |
                {{ i18n "footer_design" | markdownify }}
                {{ if .Site.Params.repository -}}
                    | <a href="{{ .Site.Params.repository }}edit/master/content/{{ .File.Path }}">{{ i18n "footer_edit" }}</a>
                {{- end }}
            </p>
        </div>
    </div>
</footer>
